body{
    background-color: blanchedalmond;
    font-family: Arial;
    margin: 0px 0px;
    padding: 0px 0px;
}
.head{
    background-color:rgb(57, 57, 162);
    text-align: center;
    padding: 20px;
    color: white;
}
.ab1{
    background-color: white;
    margin: 20px 70px 20px 70px;
    padding: 20px;
    border-radius: 13px;
}
.ab2{
    background-color: white;
    margin: 20px 70px 20px 70px;
    padding: 20px;
    border-radius: 13px;
}
.ab3{
    background-color: white;
    margin: 20px 70px 20px 70px;
    padding: 20px;
    border-radius: 13px;
}
h2{
    color: rgb(220, 74, 152);
}